.content {
    border: 3px solid gray;
    width: 1024px;
    margin: auto;
}

.flex-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noti {
    position: absolute;
    display: grid;
    background-color: tomato;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    right: 0;
    bottom: 0;
    place-items: center;
    color: white;
}

.avatar {
    background-color: grey;
    overflow: auto;
    width: 128px;
    height: 128px;
    border-radius: 128px;
}

.flex-item-1 {
    position: relative;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    background-color: grey;
    width: 100%;
    height: 100%;
}

.on-hover:hover {
    text-decoration: underline;
    color: blue;
}